as_release-1.1/app/build/
*.iml
as_release-1.1/import-summary.txt
as_release-1.1/.idea/
as_release-1.1/.gradle/
as_release-1.1/gradlew
as_release-1.1/gradlew.bat
as_sana-mobile-release-1.1.x1/app/build/
as_sana-mobile-release-1.1.x1/.idea/
as_sana-mobile-release-1.1.x1/.gradle/2.8/taskArtifacts/outputFileStates.bin
as_sana-mobile-release-1.1.x1/.gradle/
as_sana-mobile-release-1.1.x1/gradlew
as_sana-mobile-release-1.1.x1/gradlew.bat
as_sana-mobile-release-1.1.x1/import-summary.txt
as_release-1.1/build/
as_sana-mobile-release-1.1.x/.gradle/
as_sana-mobile-release-1.1.x/.idea/
as_sana-mobile-release-1.1.x/app/build/
as_sana-mobile-release-1.1.x/local.properties
as_release-1.1/gradle/wrapper/gradle-wrapper.jar
as_release-1.1/gradle/wrapper/gradle-wrapper.properties
as_release-1.1/local.properties
